.hero {
    position: relative;
    min-height: 340px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

.hero::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--sr-steel);
    opacity: 0.9;
    z-index: 0;
}

.hero > div:first-of-type {
    position: relative;
    z-index: 1;
}

.hero h1 {
    color: #FFFFFF;
}

.hero h1 span {
    font-weight: 400;
    font-size: 1.75rem;
}

.isotube {
    position: absolute;
    right: -50px;
    bottom: 3rem;
    width: 60%;
    text-align: right;
    z-index: 1;
}

.isotube img {
    max-width: 800px;
    width: 100%;
    height: auto;
    filter: drop-shadow(15px 10px 20px #01292F);
}

.section {
    padding: 3rem 0;
}

.contact {
    line-height: 1;
    display: grid;
    grid-template-columns: 1rem 1fr;
    gap: 15px 10px;
}

@media screen and (max-width: 767px) {
    .isotube {
        position: relative;
        width: 100%;
        bottom: 0;
    }

    .isotube img {
        position: absolute;
        top: 10px;
        right: -50px;
        max-height: 110px;
        width: auto;
    }
}